@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-gradient-to-r from-green-100 to-blue-100;
    }
}

body {
    background-image: url('../public/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   

}



